{% extends 'base2.html' %}
{% block content1 %}
        <select name="select_place2"> 
                <option value="">세부지역</option>
                <option value="강릉">강릉</option>
                <option value="고성">고성</option>
                <option value="동해">동해</option>
                <option value="삼척">삼척</option>
                <option value="속초">속초</option>
                <option value="양구">양구</option>
                <option value="양양">양양</option>
                <option value="영월">영월</option>
                <option value="원주">원주</option>
                <option value="인제">인제</option>
                <option value="정선">정선</option>
                <option value="철원">철원</option>
                <option value="춘천">춘천</option>
                <option value="태백">태백</option>
                <option value="평창">평창</option>
                <option value="홍천">홍천</option>
                <option value="화천">화천</option>
                <option value="횡성">횡성</option>
        </select>

{% endblock %}