
{% extends 'base2.html' %}
{% block content1 %}


        <select name="select_place2"> 
                <option value="가평">가평</option>
                <option value="고양">고양</option>
                <option value="과천">과천</option>
                <option value="광명">광명</option>
                <option value="광주">광주</option>
                <option value="구리">구리</option>
                <option value="군포">군포</option>
                <option value="김포">김포</option>
                <option value="남양주">남양주</option>
                <option value="동두천">동두천</option>
                <option value="부천">부천</option>
                <option value="성남">성남</option>
                <option value="수원">수원</option>
                <option value="수원">수원</option>
                <option value="시흥">시흥</option>
                <option value="안산">안산</option>
                <option value="안성">안성</option>
                <option value="안양">안양</option>
                <option value="양주">양주</option>
                <option value="양평">양평</option>
                <option value="여주">여주</option>
                <option value="연천">연천</option>
                <option value="오산">오산</option>
                <option value="용인">용인</option>
                <option value="의왕">의왕</option>
                <option value="의정부">의정부</option>
                <option value="이천">이천</option>
                <option value="파주">파주</option>
                <option value="평택">평택</option>
                <option value="포천">포천</option>
                <option value="하남">하남</option>
                <option value="화성">화성</option>
             
            </select>

    
    {% endblock %}