
{% extends 'base2.html' %}
{% block content1 %}



        <select name="select_place2"> 
                <option value="거제">거제</option>
                <option value="거창">거창</option>
                <option value="고성">고성</option>
                <option value="김해">김해</option>
                <option value="남해">남해</option>
                <option value="밀양">밀양</option>
                <option value="사천">사천</option>
                <option value="산청">산청</option>
                <option value="양산">양산</option>
                <option value="의령">의령</option>
                <option value="진주">진주</option>
                <option value="창녕">창녕</option>
                <option value="창원">창원</option>
                <option value="창원">창원</option>
                <option value="통영">통영</option>
                <option value="하동">하동</option>
                <option value="함안">함안</option>
                <option value="함양">함양</option>
                <option value="합천">합천</option>
            </select>
    
{% endblock %}