
{% extends 'base2.html' %}
{% block content1 %}



        <select name="select_place2"> 
                <option value="경산">경산</option>
                <option value="경주">경주</option>
                <option value="고령">고령</option>
                <option value="구미">구미</option>
                <option value="군위">군위</option>
                <option value="김천">김천</option>
                <option value="문경">문경</option>
                <option value="봉화">봉화</option>
                <option value="상주">상주</option>
                <option value="성주">성주</option>
                <option value="안동">안동</option>
                <option value="영덕">영덕</option>
                <option value="영양">영양</option>
                <option value="영주">영주</option>
                <option value="영천">영천</option>
                <option value="예천">예천</option>
                <option value="울릉">울릉</option>
                <option value="울진">울진</option>
                <option value="의성">의성</option>
                <option value="청도">청도</option>
                <option value="청송">청송</option>
                <option value="칠곡">칠곡</option>
                <option value="포항">포항</option>
            </select>

            {% endblock %}