
{% extends 'base2.html' %}
{% block content1 %}


        <select name="select_place2"> 

        <option value="강남">강남</option>
        <option value="강동">강동</option>
        <option value="강동">강동</option>
        <option value="강북">강북</option>
        <option value="강서">강서</option>
        <option value="관악">관악</option>
        <option value="광진">광진</option>
        <option value="광진">광진</option>
        <option value="구로">구로</option>
        <option value="금천">금천</option>
        <option value="노원">노원</option>
        <option value="도봉">도봉</option>
        <option value="동대문">동대문</option>
        <option value="동작">동작</option>
        <option value="마포">마포</option>
        <option value="서대문">서대문</option>
        <option value="서초">서초</option>
        <option value="성동">성동</option>
        <option value="성북">성북</option>
        <option value="송파">송파</option>
        <option value="양천">양천</option>
        <option value="영등포">영등포</option>
        <option value="용산">용산</option>
        <option value="은평">은평</option>
        <option value="종로">종로</option>
        <option value="중구">중구</option>
        <option value="중랑">중랑</option>
    </select>

 
{% endblock %}