
{% extends 'base2.html' %}
{% block content1 %}



        <select name="select_place2"> 
                <option value="강화군">강화군</option>
                <option value="계양구">계양구</option>
                <option value="남동구">남동구</option>
                <option value="동구">동구</option>
                <option value="부평구">부평구</option>
                <option value="서구">서구</option>
                <option value="연수구">연수구</option>
                <option value="옹진군">옹진군</option>
                <option value="중구">중구</option>
             
            </select>

            {% endblock %}