
{% extends 'base2.html' %}
{% block content1 %}


        <select name="select_place2"> 
                <option value="강진">강진</option>
                <option value="고흥">고흥</option>
                <option value="곡성">곡성</option>
                <option value="광양">광양</option>
                <option value="구례">구례</option>
                <option value="나주">나주</option>
                <option value="담양">담양</option>
                <option value="목포">목포</option>
                <option value="무안">무안</option>
                <option value="보성">보성</option>
                <option value="순천">순천</option>
                <option value="신안">신안</option>
                <option value="여수">여수</option>
                <option value="영광">영광</option>
                <option value="영암">영암</option>
                <option value="완도">완도</option>
                <option value="장성">장성</option>
                <option value="장흥">장흥</option>
                <option value="진도">진도</option>
                <option value="함평">함평</option>
                <option value="해남">해남</option>
                <option value="화순">화순</option>
             
            </select>
    

            {% endblock %}