
{% extends 'base2.html' %}
{% block content1 %}


        <select name="select_place2"> 
                <option value="고창">고창</option>
                <option value="군산">군산</option>
                <option value="김제">김제</option>
                <option value="남원">남원</option>
                <option value="무주">무주</option>
                <option value="부안">부안</option>
                <option value="순창">순창</option>
                <option value="완주">완주</option>
                <option value="익산">익산</option>
                <option value="임실">임실</option>
                <option value="장수">장수</option>
                <option value="전주">전주</option>
                <option value="정읍">정읍</option>
                <option value="진안">진안</option>
             
            </select>
    
  
{% endblock %}