
{% extends 'base2.html' %}
{% block content1 %}


        <select name="select_place2"> 
                <option value="구좌">구좌</option>
                <option value="남원">남원</option>
                <option value="대정">대정</option>
                <option value="서귀포">서귀포</option>
                <option value="성산">성산</option>
                <option value="안덕">안덕</option>
                <option value="애월">애월</option>
                <option value="우도">우도</option>
                <option value="제주">제주</option>
                <option value="조천">조천</option>
                <option value="중문">중문</option>
                <option value="표선">표선</option>
                <option value="한경">한경</option>
                <option value="한림">한림</option>
            </select>
    

            {% endblock %}