
{% extends 'base2.html' %}
{% block content1 %}



        <select name="select_place2"> 
                <option value="괴산">괴산</option>
                <option value="단양">단양</option>
                <option value="보은">보은</option>
                <option value="영동">영동</option>
                <option value="옥천">옥천</option>
                <option value="음성">음성</option>
                <option value="제천">제천</option>
                <option value="증평">증평</option>
                <option value="진천">진천</option>
                <option value="청주">청주</option>
                <option value="충주">충주</option>
             
            </select>
    

            {% endblock %}