
{% extends 'base2.html' %}
{% block content1 %}


        <select name="select_place2">
                <option value="계룡">계룡</option>
                <option value="공주">공주</option>
                <option value="금산">금산</option>
                <option value="논산">논산</option>
                <option value="당진">당진</option>
                <option value="보령">보령</option>
                <option value="부여">부여</option>
                <option value="서산">서산</option>
                <option value="서천">서천</option>
                <option value="세종">세종</option>
                <option value="아산">아산</option>
                <option value="예산">예산</option>
                <option value="천안">천안</option>
                <option value="청양">청양</option>
                <option value="태안">태안</option>
                <option value="홍성">홍성</option> 
             
            </select>

            {% endblock %}