<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .createroom{
            font-size: 100px;
        }
    </style>
</head>
<body>
    <form action="{%url 'createroom' %}" method="GET">
    <input class="createroom" name = "roomname" type="text">
        <input class="createroom" value="방 생성하기" type="submit">
    </form>
</body>
</html>