{% extends 'base.html' %}
{% block content %}
    <style>
        .createroom{
            font-size: 10px;
        }
        .section{
            width: 100%;
            height: 100%;
            padding-left: 10px;
        }
        .section_child{
            border: rgb(120, 173, 204) 3px solid;
            border-radius: 50px;
            padding: 30px;
            display: inline-block;
            margin: 8px auto;
            width: 44.3%;
            height: 87%;
        }
    </style>
    <div class="section">
        <div class="section_child">ddddddd</div>
        <div class="section_child">
            <div class="room-card">
                <form action="{%url 'createroom' %}" method="GET">
                    <input class="createroom" name = "roomname" type="text">
                    <input class="createroom" value="방 생성하기" type="submit">
                </form>
            </div>
            <!--for i in
            <div class="room-card">
                <h1>생성된 룸</h1>
            </div>
            -->
        </div>
    </div>
    
{% endblock %}