<!DOCTYPE html>
<html lang="ko_kr">
<head>
    <!-- meta tag -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">

    <!-- css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Triphub</title>
    <style>
        #logout_btn{
            border: #fff 2px solid;
            text-decoration:none;
            color:#fff;
            border-radius:15px;
            padding:5px;
            font-size: 15px;
            font-weight: bold;
            box-shadow: 2px 3px 2px 2px rgb(88, 55, 110);
        }
        #logout_btn:hover{
            transform: rotate(10deg);
            transition: 0.3s ease-in;
            box-shadow: 2px 3px 2px 2px rgb(88, 55, 110);
        }
    </style>
</head>
<body>
    <!-- Image and text -->
    <nav class="navbar navbar-dark bg-dark" style="background: #4776E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ">
        <a class="navbar-brand" href="{% url 'main'%}">
        <img src="" width="30" height="30" class="d-inline-block align-top" alt="">
        Triphub
        </a>
        <a id='logout_btn' href="{% url 'logout' %}">로그아웃</a>
    </nav>
    <br>
    <br>
    <div class="container">
            <!-- Content here -->
        <div class="card" style="width: 60%; margin:10px auto;">
            <div class="card-body">
                {% block contents %}
                {% endblock %} 
            </div>
        </div>
        
    </div>
     
</body>
<!-- scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>